@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--main-font);
}

:root {
  font-size: 62.5%;
  --primary-color: #c4ebdf;
  --button-color: #05b780;
  --text-color: #032e20;
  --button-hover: #00825a;
  --main-font: "Mulish", sans-serif;
  --inter: "Inter", sans-serif;
  --lobster: "Lobster", sans-serif;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 1.6rem;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.logo {
  height: 9.4rem;
  width: 9.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--primary-color);
  cursor: pointer;
  background-color: #fff;
}

.logo p {
  font-size: 4.5rem;
  font-family: "Lobster", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#copyright {
  margin-top: auto;
  font-size: 2rem;
  color: #a1b7b0;
  margin-bottom: 20px;
}

#homepage {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  flex-wrap: wrap-reverse;
  gap: 30px;
  margin: 0 0 50px 0;
}

#content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 432px;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

#content-right {
  max-width: 30em;
  align-self: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  #homepage {
    justify-content: center;
  }
}
