body {
  max-width: none;
}

header {
  margin-bottom: 1em;
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

nav {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-hamb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 6rem;
  height: 5rem;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none;
}

.nav-hamb .bar {
  width: 100%;
  height: 0.9rem;
  background-color: #918f8f;
  border-radius: 20rem;
  transition: transform 0.3s ease;
}

.neo-nav {
  display: none;
  background: #918f8f;
  min-height: 75px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1001;
}

.nav-op,
.nav-op * {
  font-size: 20px;
  color: #fff;
}

.nav-op > p {
  margin-right: 10px;
}

.nav-op {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

aside.filter {
  min-height: 25em;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 30px 15px;
  background: #fff;
}

aside.all_clothes {
  min-height: 25em;
  max-height: 750px;
  overflow-y: auto;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 30px 15px;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  background: #fff;
}

aside.all_clothes::-webkit-scrollbar {
  width: 9px;
}

.img_clothes {
  height: 90px;
  width: 90px;
  background: #e5e5e5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.img_clothes > img {
  width: 50px;
  height: 50px;
}

.clothes_list {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin: 20px 0 20px 0;
  border-radius: 15px;
  background: #fdfdfd;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 20px;
}

.submit {
  width: 100%;
  background: #444343;
  height: 60px;
  color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

h4,
h2,
h1 {
  font-family: "Mulish", sans-serif;
  text-align: center;
}
.clothes,
.clothes-item {
  display: flex;
}
.clothes {
  font-size: 2.5rem;
  flex-direction: row;
  gap: 0;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 600px;
}

.clothes-item {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.clothes-item img {
  width: 7.5rem;
  height: 7.5rem;
}
.img-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  background-color: #a1cef3;
}

section > h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  color: #032e20;
  font-size: 5rem;
  font-weight: 900;
}

.clothes-item h4 {
  font-size: 2.5rem;
}

.holder {
  max-width: 80rem;
  height: 574px;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clothes-item:nth-child(4n + 1) > .img-background {
  background-color: #a1cef3;
}
.clothes-item:nth-child(4n + 1) > .img-background.enable {
  border: 5px #7596b1 solid;
}
.clothes-item:nth-child(4n + 2) > .img-background {
  background-color: #ffbbbb;
}
.clothes-item:nth-child(4n + 2) > .img-background.enable {
  border: 5px #b17575 solid;
}
.clothes-item:nth-child(4n + 3) > .img-background {
  background-color: #e8f890;
}
.clothes-item:nth-child(4n + 3) > .img-background.enable {
  border: 5px #abb175 solid;
}
.clothes-item:nth-child(4n + 4) > .img-background {
  background-color: #90f897;
}
.clothes-item:nth-child(4n + 4) > .img-background.enable {
  border: 5px #7ab175 solid;
}

/*




DropDowns





*/

#Set_Clothes {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.my_clothes {
  width: 100%;
  max-width: 260px;
}

.dropdown {
  width: 100%;
  max-width: 230px;
}

input[type="text"]::placeholder {
  color: #777575;
  font-family: "Mulish", sans-serif;
}

input[type="text"]:focus {
  outline: var(--button-hover) solid;
}

#S_Dropdowns {
  width: 100%;
  max-width: 230px;
}

input[type="text"],
.dropdown-box,
.dpt_name,
.mdropdown-box {
  margin-top: 30px;
  max-width: 230px;
  width: 100%;
  height: 45px;
  padding: 0px 15px 0px 20px;
  border-radius: 10px;
  border: none;
  background: #e5e5e5;
  font-weight: 700;
  font-size: 17px;
}

.dropdown-box,
.dpt_name,
.mdropdown-box {
  display: flex;
  align-items: center;
  color: #777575;
  justify-content: space-between;
  border-radius: 10px;
}

.dpt_name {
  background: #918f8f;
  color: #fff;
  margin-top: 0px;
}

.dpt {
  margin-top: 0px;
  margin-bottom: 30px;
}

.dropdown-box.enable,
.dpt_name.enable,
.mdropdown-box.enable {
  border-radius: 10px 10px 0px 0px;
}

#Set_Clothes .mdropdown-box,
#Set_Clothes .dropdown-box {
  margin-top: 0;
}

#Set_Clothes .dropdown,
#Set_Clothes input[type="text"] {
  margin-top: 0;
  margin-bottom: 30px;
}

.dpt_desc {
  padding: 10px;
  background: #e5e5e5;
  font-size: 14px;
  border-radius: 0px 0px 20px 20px;
  color: #777575;
  display: none;
}

.dpt_desc_edit {
  display: flex;
  justify-content: center;
  font-size: 17px;
  gap: 10px;
  font-weight: 700;
  color: #918f8f;
  margin-top: 10px;
  cursor: pointer;
}

.dpt_desc_edit > span {
  font-size: 20px;
}

.dropdown-list {
  display: none;
  max-height: 120px;
  background: #f5f5f5;
  overflow-y: auto;
  border-radius: 0 0 20px 20px;
}

.block {
  display: block;
}

::-webkit-scrollbar-thumb {
  background: #918f8f;
}

::-webkit-scrollbar-thumb:hover {
  background: #444343;
}

.dropdown-list::-webkit-scrollbar {
  width: 9px;
}

.list p {
  word-wrap: break-word;
}

.dl-item,
.m-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 700;
}

.dl-item:hover,
.m-item:hover {
  background: #918f8f;
  color: #fff;
}

.close {
  position: absolute;
  top: 8px;
  left: 15px;
  cursor: pointer;
  display: none;
}

.night {
  display: none;
}

@media (max-width: 1200px) {
  .night {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000036;
    display: none;
    z-index: 1000;
  }

  .night.enable {
    display: block;
  }

  aside.all_clothes,
  aside.filter {
    display: none;
    position: absolute;
    z-index: 1001;
  }

  aside.filter {
    left: 0;
  }

  aside.all_clothes {
    right: 0;
  }

  aside.all_clothes.enable,
  aside.filter.enable {
    display: flex;
  }

  main {
    justify-content: center;
  }

  .nav-hamb {
    display: flex;
  }

  header {
    margin-bottom: 0em;
    margin-top: 0em;
    display: flex;
    justify-content: center;
    padding: 1em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    z-index: 1001;
    background: #fff;
  }

  .neo-nav.enable {
    display: flex;
  }
}
