body {
  max-width: none;
}

header {
  margin-bottom: 1em;
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

nav {
  max-width: 1400px;
  width: 100%;
}

h4,
h1 {
  font-family: "Mulish", sans-serif;
  text-align: center;
}
.clothes,
.clothes-item {
  display: flex;
}
.clothes {
  font-size: 2.5rem;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 600px;
}
.clothes-item {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 1.5rem;
}
.clothes-item img {
  width: 7.5rem;
  height: 7.5rem;
}
.img-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  background-color: #a1cef3;
}

section > h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  color: var(--button-color);
  font-size: 5rem;
  font-weight: 900;
}

.clothes-item h4 {
  font-size: 2.5rem;
}

.holder {
  max-width: 80rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clothes-item:nth-child(4n + 1) > .img-background {
  background-color: #a1cef3;
}
.clothes-item:nth-child(4n + 2) > .img-background {
  background-color: #ffbbbb;
}
.clothes-item:nth-child(4n + 3) > .img-background {
  background-color: #e8f890;
}
.clothes-item:nth-child(4n + 4) > .img-background {
  background-color: #90f897;
}
