#content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#content-right h1 {
  font-family: var(--main-font);
  font-size: calc(25px + 2vw);
  font-weight: 900;
  color: var(--button-color);
  text-align: right;
}

#content-right p {
  font-weight: 700;
  font-size: calc(17px + 0.75vw);
  margin-top: 2.6rem;
  margin-bottom: 3.3rem;
  color: #7d7987;
  text-align: right;
}

#content-right a {
  width: 21.7rem;
  height: 7.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 solid transparent;
  border-radius: 30px;
  background-color: var(--button-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#content-right a:hover {
  background-color: var(--button-hover);
}
